@page "/registration"
@using Colonial.Shared.SharedModels.Account
@inject HttpClient Http

<PageTitle>Registrazione</PageTitle>

 <EditForm Model="@LoggedUser">
                    <form class="form-group">
                    <div class="form-group row">
                        <label for="Username" class="col-sm-2 col-form-label">
                            Username
                        </label>
                        <div class="col-sm-10">
                            <InputText id="Username" class="form-control" placeholder="First Name"
                               @bind-Value="LoggedUser.UserName" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Password" class="col-sm-2 col-form-label">
                            Password
                        </label>
                        <div class="col-sm-10">
                            <InputText id="Password" class="form-control" placeholder="Last Name"
                               @bind-Value="LoggedUser.Password" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">
                            Email
                        </label>
                        <div class="col-sm-10">
                            <InputText id="email" class="form-control" placeholder="Email"
                               @bind-Value="LoggedUser.Email" />
                        </div>
                    </div>
                    <button type="button" @onclick="@Register" class="btn btn-primary">Registrati</button>
                    </form>
                </EditForm>

}

@code {
  public User LoggedUser = new User();

    protected async Task Register()
    {
        try
        {
            //players = await Http.GetFromJsonAsync<TestObject[]>($"testing/read/{id}");
            //HideLabel = (id == 0);
        }
        catch { }
    }
}
